@font-face {
  font-family: "iconfont"; /* Project id 3420165 */
  src: url('iconfont.woff2?t=1653214512640') format('woff2'),
       url('iconfont.woff?t=1653214512640') format('woff'),
       url('iconfont.ttf?t=1653214512640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-zhifubao:before {
  content: "\e62c";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

